/* - Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%) */





body{
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-color:hsl(257, 40%, 49%);
  color: white;
  
}

#logo{
  width:40%;
  height:auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}



#mockup{
  width:90%;
  height: auto;
  margin-left:20px;
}

#content-container{
  width:90%;
  margin: auto;
  align-items: center;
}


h1{
  font-family: 'Poppins';
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

p{
  font-family: 'Open Sans';
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
}

button{
  width: 12rem;
  background-color: white;
  border-radius: 20px;
  border:none;
  padding: 10px 20px;
  margin: 1rem 0 3rem 3rem;
  color:hsl(257, 40%, 49%);
  font-size: 1rem;
}

button:hover{
  background-color: rgb(205, 185, 243);
  color: white;
  cursor: pointer;
}

footer{
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}
footer div{
  margin: 5px 0;
}

#icon-container{
  display: flex;
  justify-content:center;
}

ion-icon{
    font-size: 24px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    background-color:hsl(257, 40%, 49%);
    margin:5px 4px;
}

ion-icon:hover{
  background-color:hsl(257, 69%, 71%);
  cursor: pointer;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: white;
    text-decoration: none;
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  button{
    margin-left: 30%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    background-image: url(images/bg-desktop.svg);
    background-size: 100%;
  }
  #container{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
  }
  #logo{
    width: 20%;
    height:auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display:block;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #mockup{
    width:80%;
    height: auto;
    margin-left:20px;
    display: inline-block;
  }
  main{
    padding: 100px 100px 100px 0;
  }

  footer{
    height: 5rem;
    grid-column: 1 / span 2;
    grid-row: 2;
    align-items: end;
    padding-right: 6rem;
  }
  h1{
    padding: 0 10rem 0 0;
    font-size: 2rem;
    text-align: left;
  }

  p{
    text-align: left;
    padding: 0 5rem 0 0;
  }
  
  button{
    margin-left: 0;
  }
}